h3 {
	font-family: 'Montserrat', Arial, Sans-serif;
    color: grey;

}

p {	
	font-family: 'Raleway', Arial, Sans-serif;
}

.intro {
    margin: 0 auto;
    padding: 12px;
    background-color: white;
    width: 96%;
}

.data {
	font-family: 'Raleway', Arial, Sans-serif;
	margin: 0 auto;
    padding: 12px;
    background-color: white;
    width: 96%;
}